In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("player_passes.csv")

In [18]:
df

,Unnamed: 0,name,team,completed_passes,total_passes
0,0,PEDRO GONZÁLEZ LÓPEZ,FC BARCELONA,2379,2672
1,1,PAU CUBARSÍ,FC BARCELONA,2426,2591
2,2,DALEY BLIND,GIRONA FC,2200,2439
3,3,ÍÑIGO MARTÍNEZ,FC BARCELONA,2209,2417
4,4,MARCOS ALONSO,CELTA,2079,2298
...,...,...,...,...,...
732,732,MARIO RIVAS,REAL MADRID,0,0
733,733,IKER VARELA,ATHLETIC CLUB,0,0
734,734,HUGO SOLOZABAL,CD LEGANÉS,0,0
735,735,RAFAEL FERNÁNDEZ RODRÍGUEZ,CA OSASUNA,0,0
736,736,LANDER PINILLOS,DEPORTIVO ALAVÉS,0,0

In [19]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [20]:
df

,name,team,completed_passes,total_passes
0,PEDRO GONZÁLEZ LÓPEZ,FC BARCELONA,2379,2672
1,PAU CUBARSÍ,FC BARCELONA,2426,2591
2,DALEY BLIND,GIRONA FC,2200,2439
3,ÍÑIGO MARTÍNEZ,FC BARCELONA,2209,2417
4,MARCOS ALONSO,CELTA,2079,2298
...,...,...,...,...
732,MARIO RIVAS,REAL MADRID,0,0
733,IKER VARELA,ATHLETIC CLUB,0,0
734,HUGO SOLOZABAL,CD LEGANÉS,0,0
735,RAFAEL FERNÁNDEZ RODRÍGUEZ,CA OSASUNA,0,0
736,LANDER PINILLOS,DEPORTIVO ALAVÉS,0,0

# Total number of passes by each team

In [21]:
def get_total_passes():
    team_groups = df.groupby("team")
    total_passes = team_groups["total_passes"].sum()
    s = pd.Series(data=total_passes)
    return s

get_total_passes()

team
ATHLETIC CLUB                15542
ATLÉTICO DE MADRID           19688
CA OSASUNA                   14359
CD LEGANÉS                   13476
CELTA                        19824
DEPORTIVO ALAVÉS             13139
FC BARCELONA                 24054
GETAFE CF                    11252
GIRONA FC                    19690
RAYO VALLECANO               15995
RCD ESPANYOL DE BARCELONA    12488
RCD MALLORCA                 14510
REAL BETIS                   17441
REAL MADRID                  22733
REAL SOCIEDAD                16921
REAL VALLADOLID CF           13652
SEVILLA FC                   16451
UD LAS PALMAS                16499
VALENCIA CF                  15993
VILLARREAL CF                15947
Name: total_passes, dtype: int64

# sort the teams by total number of passes

In [22]:
s = get_total_passes()

s.sort_values(ascending=False)

team
FC BARCELONA                 24054
REAL MADRID                  22733
CELTA                        19824
GIRONA FC                    19690
ATLÉTICO DE MADRID           19688
REAL BETIS                   17441
REAL SOCIEDAD                16921
UD LAS PALMAS                16499
SEVILLA FC                   16451
RAYO VALLECANO               15995
VALENCIA CF                  15993
VILLARREAL CF                15947
ATHLETIC CLUB                15542
RCD MALLORCA                 14510
CA OSASUNA                   14359
REAL VALLADOLID CF           13652
CD LEGANÉS                   13476
DEPORTIVO ALAVÉS             13139
RCD ESPANYOL DE BARCELONA    12488
GETAFE CF                    11252
Name: total_passes, dtype: int64

# Get player who had the most passes for each team

In [23]:
def get_passmaker():
    pass_maker = df.loc[df.groupby("team")["total_passes"].idxmax()]
    return pass_maker.sort_values(by=["total_passes"], ascending= False)
get_passmaker()

,name,team,completed_passes,total_passes
0,PEDRO GONZÁLEZ LÓPEZ,FC BARCELONA,2379,2672
2,DALEY BLIND,GIRONA FC,2200,2439
4,MARCOS ALONSO,CELTA,2079,2298
5,FEDERICO VALVERDE,REAL MADRID,1970,2162
7,FLORIAN LEJEUNE,RAYO VALLECANO,1719,2046
10,CRISTHIAN MOSQUERA,VALENCIA CF,1822,1997
14,LOÏC BADÉ,SEVILLA FC,1556,1800
16,ANTONIO RAÍLLO,RCD MALLORCA,1570,1765
17,MARTÍN ZUBIMENDI,REAL SOCIEDAD,1479,1752
18,DANI VIVIAN,ATHLETIC CLUB,1521,1740
20,RODRIGO DE PAUL,ATLÉTICO DE MADRID,1416,1684
24,DIEGO LLORENTE,REAL BETIS,1378,1586
26,ENZO BOYOMO,CA OSASUNA,1376,1570
27,LOGAN EVANS COSTA,VILLARREAL CF,1346,1531
29,SERGIO GONZÁLEZ,CD LEGANÉS,1270,1509
35,SCOTT MCKENNA,UD LAS PALMAS,1271,1462
40,LEANDRO CABRERA,RCD ESPANYOL DE BARCELONA,1073,1402
55,LUIS MILLA,GETAFE CF,1073,1322
69,ANTONIO BLANCO,DEPORTIVO ALAVÉS,997,1234
82,JAVI SÁNCHEZ DE FELIPE,REAL VALLADOLID CF,1009,1149

# get player who completed most passes for each of team

In [24]:
def get_complete_pass_maker():
    complete_pass_maker = df.loc[df.groupby("team")["completed_passes"].idxmax()]
    
    return complete_pass_maker.sort_values(by=["completed_passes"], ascending=False)

get_complete_pass_maker()

,name,team,completed_passes,total_passes
1,PAU CUBARSÍ,FC BARCELONA,2426,2591
2,DALEY BLIND,GIRONA FC,2200,2439
4,MARCOS ALONSO,CELTA,2079,2298
5,FEDERICO VALVERDE,REAL MADRID,1970,2162
10,CRISTHIAN MOSQUERA,VALENCIA CF,1822,1997
7,FLORIAN LEJEUNE,RAYO VALLECANO,1719,2046
16,ANTONIO RAÍLLO,RCD MALLORCA,1570,1765
14,LOÏC BADÉ,SEVILLA FC,1556,1800
18,DANI VIVIAN,ATHLETIC CLUB,1521,1740
17,MARTÍN ZUBIMENDI,REAL SOCIEDAD,1479,1752
23,JORGE RESURRECCIÓN MERODIO,ATLÉTICO DE MADRID,1429,1603
24,DIEGO LLORENTE,REAL BETIS,1378,1586
26,ENZO BOYOMO,CA OSASUNA,1376,1570
27,LOGAN EVANS COSTA,VILLARREAL CF,1346,1531
35,SCOTT MCKENNA,UD LAS PALMAS,1271,1462
29,SERGIO GONZÁLEZ,CD LEGANÉS,1270,1509
41,MARASH KUMBULLA,RCD ESPANYOL DE BARCELONA,1183,1394
55,LUIS MILLA,GETAFE CF,1073,1322
82,JAVI SÁNCHEZ DE FELIPE,REAL VALLADOLID CF,1009,1149
69,ANTONIO BLANCO,DEPORTIVO ALAVÉS,997,1234

# get the completion percentage column

In [25]:
def completion_percentage(row):
    completion_percentage = (
        round((row["completed_passes"] / row["total_passes"]), 4)
        if row["total_passes"] != 0
        else 0
    )

    row["percentage_completed"] = completion_percentage
    return row


df = df.apply(completion_percentage, axis=1)

In [26]:
df.sort_values(by=["completed_passes", "total_passes", "percentage_completed"],ascending= False)

,name,team,completed_passes,total_passes,percentage_completed
1,PAU CUBARSÍ,FC BARCELONA,2426,2591,0.9363
0,PEDRO GONZÁLEZ LÓPEZ,FC BARCELONA,2379,2672,0.8903
3,ÍÑIGO MARTÍNEZ,FC BARCELONA,2209,2417,0.9139
2,DALEY BLIND,GIRONA FC,2200,2439,0.9020
4,MARCOS ALONSO,CELTA,2079,2298,0.9047
...,...,...,...,...,...
732,MARIO RIVAS,REAL MADRID,0,0,0.0000
733,IKER VARELA,ATHLETIC CLUB,0,0,0.0000
734,HUGO SOLOZABAL,CD LEGANÉS,0,0,0.0000
735,RAFAEL FERNÁNDEZ RODRÍGUEZ,CA OSASUNA,0,0,0.0000
736,LANDER PINILLOS,DEPORTIVO ALAVÉS,0,0,0.0000